AddType video/mp4 .mp4
AddType video/webm .webm
AddType video/ogg .ogv
AddType audio/mp3 .mp3

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]